#headline,
h2 {
  color: orange;
}

button {
  background-color: rgb(255, 214, 142);
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

button img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
