@charset "utf-8";

body {
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-size: 1.4em;
  color: #383838;
  font-family: "Lato", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium",
    "YuGothic", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ",
    "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.6;
}

html {
  font-size: 62.5%;
}

.gnav-navi-1 {
  list-style-type: none;
  padding: 0;
  display: flex;
}

#headline,
h2 {
  color: rgb(255, 136, 215);
}

#headline,
h1 {
  border-bottom: 2px solid #ff96cb;
  padding-bottom: 10px;
}

p {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.gnav-navi-1 {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.gnav-navi-1 li {
  margin-right: 10 px;
}

.gnav-navi-1 a {
  display: inline-block;
  padding: 10px;
  background-color: #ff69b4;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.gnav-navi-1 a:hover {
  background-color: #ff8c00;
  color: white;
}

button {
  background-color: rgb(255, 214, 142);
  display: inline-block;
  align-items: center;
  gap: 8px;
  padding: 12px;
  border-radius: 20px;
}

button img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

button {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

