@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f7f3e8;
  font-family: "Sawarabi Gothic";
  margin: 50px auto;
  width: 70%;
  padding: 50px;
  text-align: center;
}
p {
  padding: 10px;
}

button {
  background-color: #ffb6e7;

  color: #837360;
  font-weight: bold;
  font-size: 20px;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 50px;
  position: relative;
}

button:hover {
  background-color: #ffb560;
}

button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.button-box {
  border: 0.5px solid #7a3838;
  padding: 10px;
  background-color: #ffdda6;
}

div.container {
  background-color: #fed8fe;
  color: #837360;
}
.container button {
  background-color: #f7f3e8;
  color: #837360;
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 50px;
  position: relative;
  text-align: center; 
  line-height: 50px;
}
